fastapi
uvicorn[standard]
pydantic
pydantic-settings

groq

sqlalchemy
psycopg[binary]
pgvector

pymupdf
pandas
numpy

sentence-transformers

python-dotenv
python-multipart

pytest
httpx